# TMDB Box Office Predictions
In this project, we will use supervised machine learning models to predict the box office revenue of hundreds of films. The film industry is a multi-billion-dollar business, and offers an immense amount of data about movies, all available through the internet.

In this project, we will use supervised machine learning techniques to predict the box office revenue of hundreds of films. This research could be used to help investors in the business avoid risks. The models predict an approximate success rate of a movie based on its features by analyzing data from The Movie Data Base.

In [1]:
#import dependencies 
import pandas as pd
import numpy as np
from config import api_key
import json
from collections import Counter
from pprint import pprint
import requests
import os 
import csv 
from datetime import datetime
from xgboost import XGBRegressor

In [5]:
#Import Datasets from Kaggle
train_data = pd.read_csv('Resources/train.csv')
test_data = pd.read_csv('Resources/test.csv')

In [7]:
print(train_data.shape)
train_data.describe()

(3000, 23)

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [8]:
print(test_data.shape)
test_data.describe()

(4398, 22)

                id        budget   popularity      runtime
count  4398.000000  4.398000e+03  4398.000000  4394.000000
mean   5199.500000  2.264929e+07     8.550230   107.622212
std    1269.737571  3.689991e+07    12.209014    21.058290
min    3001.000000  0.000000e+00     0.000001     0.000000
25%    4100.250000  0.000000e+00     3.895186    94.000000
50%    5199.500000  7.450000e+06     7.482242   104.000000
75%    6298.750000  2.800000e+07    10.938524   118.000000
max    7398.000000  2.600000e+08   547.488298   320.000000

In [9]:
#check missing values 
.train_data.isna().sum().sort_values(ascending=False)

belongs_to_collection    2396
homepage                 2054
tagline                   597
Keywords                  276
production_companies      156
production_countries       55
spoken_languages           20
crew                       16
cast                       13
overview                    8
genres                      7
runtime                     2
poster_path                 1
title                       0
status                      0
id                          0
release_date                0
popularity                  0
original_title              0
original_language           0
imdb_id                     0
budget                      0
revenue                     0
dtype: int64

In [10]:
x

belongs_to_collection    3521
homepage                 2978
tagline                   863
Keywords                  393
production_companies      258
production_countries      102
spoken_languages           42
crew                       22
genres                     16
overview                   14
cast                       13
runtime                     4
title                       3
status                      2
poster_path                 1
release_date                1
popularity                  0
original_title              0
original_language           0
imdb_id                     0
budget                      0
id                          0
dtype: int64

# Data Cleaning 
Based on the missing values, it definitly looks like we are going to need to drop the following features:
- belongs_to_collection    
- homepage                 
- tagline 
- Keywords

In [13]:
#We will drop the columns that we do not believe will aid our models 
train_data= train_data.drop(columns=['belongs_to_collection','homepage','tagline','Keywords'])

In [14]:
test_data= test_data.drop(columns=['belongs_to_collection','homepage','tagline','Keywords'])

In [15]:
#addressing other missing values 
train_data= train_data.dropna(inplace=True)
test_data= test_data.dropna(inplace=True)

# Data Preprocessing

In [19]:
import seaborn as sns

In [20]:
sns.countplot(x='status',data=train_data)

ValueError: Could not interpret input 'status'

In [ ]:
train_data["genres"] = train_data.genres.astype(str)
test_data["genres"] = test_data.genres.astype(str)

In [ ]:
#fix some of the value formating, pull out genres from list 
def proc_json(string, key):
    try:
        data = eval(string)
        return ",".join([d[key] for d in data])
    except:
        return ''
    
train_data.genres = train_data.genres.apply(lambda x: proc_json(x, 'name'))
test_data.genres = test_data.genres.apply(lambda x: proc_json(x, 'name'))

In [ ]:
genres = []
for idx, val in train.genres.iteritems():
    gen_list = val.split(',')
    for gen in gen_list:
        if gen == '':
            continue

        if gen not in genres:
            genres.append(gen)